:root { --pos: center center; --pos-header-nav: 50% 0; --size: 0; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; line-height: 1.15; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

body { margin: 0; font-weight: 400; line-height: 1.5; color: #212529; text-align: left; background-color: #fff; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; }

p { margin-top: 0; margin-bottom: 1rem; }

ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }

ol ol, ul ul, ol ul, ul ol { margin-bottom: 0; }

dt { font-weight: 700; }

dd { margin-bottom: .5rem; margin-left: 0; }

blockquote { margin: 0 0 1rem; }

b, strong { font-weight: bolder; }

small { font-size: 80%; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sub { bottom: -.25em; }

sup { top: -.5em; }

a { color: #007bff; text-decoration: none; background-color: transparent; }

a:hover { color: #0056b3; text-decoration: underline; }

a:not([href]):not([class]) { color: inherit; text-decoration: none; }

a:not([href]):not([class]):hover { color: inherit; text-decoration: none; }

figure { margin: 0 0 1rem; }

img { vertical-align: middle; border-style: none; }

svg { overflow: hidden; vertical-align: middle; }

label { display: inline-block; margin-bottom: 0.5rem; }

button { -webkit-border-radius: 0; border-radius: 0; }

button:focus:not(:focus-visible) { outline: 0; }

input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }

button, input { overflow: visible; }

button, select { text-transform: none; }

[role="button"] { cursor: pointer; }

select { word-wrap: normal; }

button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) { cursor: pointer; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { padding: 0; border-style: none; }

input[type="radio"], input[type="checkbox"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

textarea { overflow: auto; resize: vertical; }

fieldset { min-width: 0; padding: 0; margin: 0; border: 0; }

.justify-content-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.justify-content-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.d-block { display: block; }

.d-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.d-inline-flex { display: -webkit-inline-box !important; display: -ms-inline-flexbox !important; display: inline-flex !important; }

.flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.align-items-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.d-inline-block { display: inline-block; }

[class*="col-"], .col { position: relative; width: 100%; padding-right: 20px; padding-left: 20px; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -20px; margin-right: -20px; }

.mb-0 { margin-bottom: 0 !important; }

.mr-30 { margin-right: 30px !important; }

.px-2 { padding-left: 8px; padding-right: 8px; }

.mr-auto { margin-right: auto; }

.mx-n2 { margin-left: -8px; margin-right: -8px; }

.p-3 { padding: 16px; }

.pt-3 { padding-top: 15px; }

.pt-4 { padding-top: 24px; }

.pt-5 { padding-top: 48px; }

.pb-3 { padding-bottom: 15px; }

.pb-4 { padding-bottom: 24px; }

.pb-5 { padding-bottom: 48px; }

.pr-4 { padding-right: 24px; }

.pt-70 { padding-top: 70px; }

.px-40 { padding-left: 40px !important; padding-right: 40px !important; }

.pb-55 { padding-bottom: 55px; }

@media only screen and (min-width: 576px) { .pt-sm-0 { padding-top: 0; } }

@media only screen and (min-width: 992px) { .pt-lg-0 { padding-top: 0; } }

@media only screen and (min-width: 768px) { .pt-md-5 { padding-top: 48px; } }

@media only screen and (min-width: 768px) { .pb-md-5 { padding-bottom: 48px; } }

@media only screen and (min-width: 992px) { .pb-lg-0 { padding-bottom: 0; } }

@media only screen and (min-width: 1150px) { .pl-xl-5 { padding-left: 48px; } }

.mr-2 { margin-right: 8px; }

.mb-3 { margin-bottom: 15px !important; }

@media only screen and (min-width: 768px) { .mb-md-5 { margin-bottom: 48px !important; } }

.col-6 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; }

.col-12 { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; }

@media only screen and (min-width: 576px) { .col-sm-6 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

@media only screen and (min-width: 768px) { .col-md-6 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

@media only screen and (min-width: 768px) { .col-md-4 { max-width: 33.33333333%; -webkit-box-flex: 0; -ms-flex: 0 0 33.33333333%; flex: 0 0 33.33333333%; } }

@media only screen and (min-width: 768px) { .col-md-3 { max-width: 25%; -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; } }

@media only screen and (min-width: 992px) { .col-lg-6 { max-width: 50%; -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

@media only screen and (min-width: 992px) { .col-lg-4 { max-width: 33.33333333%; -webkit-box-flex: 0; -ms-flex: 0 0 33.33333333%; flex: 0 0 33.33333333%; } }

@media only screen and (min-width: 992px) { .text-lg-left { text-align: left !important; } }

.order-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }

@media only screen and (min-width: 992px) { .order-lg-last { -webkit-box-ordinal-group: 13; -ms-flex-order: 12; order: 12; } }

@media only screen and (min-width: 768px) { .order-md-last { -webkit-box-ordinal-group: 13; -ms-flex-order: 12; order: 12; } }

body { font-family: 'Quicksand', sans-serif; color: #fff; background: #000; font-size: 20px; line-height: 1.6; overflow-x: hidden; }

a { color: #fff; }

a:hover { color: #fff; }

.centered { max-width: 1150px; padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: auto; }

.bg-danger { background: #de0399; }

.bg-secondary { background: #3d5770; }

@font-face { font-family: 'Quicksand'; src: url("../fonts/quicksand/Quicksand-Bold.eot"); src: url("../fonts/quicksand/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Bold.woff2") format("woff2"), url("../fonts/quicksand/Quicksand-Bold.woff") format("woff"), url("../fonts/quicksand/Quicksand-Bold.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Bold.svg#Quicksand-Bold") format("svg"); font-weight: bold; font-style: normal; font-display: swap; }

@font-face { font-family: 'Quicksand'; src: url("../fonts/quicksand/Quicksand-Regular.eot"); src: url("../fonts/quicksand/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/Quicksand-Regular.woff2") format("woff2"), url("../fonts/quicksand/Quicksand-Regular.woff") format("woff"), url("../fonts/quicksand/Quicksand-Regular.ttf") format("truetype"), url("../fonts/quicksand/Quicksand-Regular.svg#Quicksand-Regular") format("svg"); font-weight: normal; font-style: normal; font-display: swap; }

@font-face { font-family: 'LT Energy VF'; src: url("../fonts/it_energy/LTEnergyVF.eot"); src: url("../fonts/it_energy/LTEnergyVF.eot?#iefix") format("embedded-opentype"), url("../fonts/it_energy/LTEnergyVF.woff2") format("woff2"), url("../fonts/it_energy/LTEnergyVF.woff") format("woff"), url("../fonts/it_energy/LTEnergyVF.ttf") format("truetype"), url("../fonts/it_energy/LTEnergyVF.svg#LTEnergyVF") format("svg"); font-weight: bold; font-style: normal; font-display: swap; }

.text-danger { color: #de0399; }

.text-center { text-align: center; }

.text-uppercase { text-transform: uppercase; }

.text-right { text-align: right; }

h1, h2, h3 { font-family: 'LT Energy VF'; }

h1 { font-size: 72px; line-height: 80px; }

h2 { font-size: 52px; line-height: 58px; margin-bottom: 15px; }

h3 { font-size: 22px; line-height: 28px; }

p { margin-bottom: 23px; }

.item { position: relative; display: inline-block; }

.item img:not(.capsule) { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); }

.item .capsule_holder { position: absolute; bottom: -76px; right: -30px; width: 41%; }

.item:after { content: ""; width: 100%; height: 100%; background: #de0399; position: absolute; top: 20px; left: -20px; z-index: -1; -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%); }

.img-fluid { display: inline-block; max-width: 100%; height: auto; }

.btn { background: #de0399; font-size: 20px; font-weight: bold; line-height: 1.5; color: #fff; display: inline-block; min-width: 180px; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; border: 0; cursor: pointer; padding: 14px 30px 14px 15px; font-weight: bold; position: relative; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-clip-path: polygon(0 0, 93% 4%, 100% 100%, 0% 100%); clip-path: polygon(0 0, 93% 4%, 100% 100%, 0% 100%); }

.btn span, .btn svg { position: relative; z-index: 1; }

.btn:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; -webkit-clip-path: circle(var(--size) at var(--pos)); clip-path: circle(var(--size) at var(--pos)); -webkit-transition: -webkit-clip-path 0.3s linear; transition: -webkit-clip-path 0.3s linear; -o-transition: clip-path 0.3s linear; transition: clip-path 0.3s linear; transition: clip-path 0.3s linear, -webkit-clip-path 0.3s linear; }

.btn:hover { text-decoration: none; color: #de0399; }

.btn:hover:before { --size: 150%; }

.btn.at_left { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%); clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%); padding: 14px 15px 14px 30px; }

.btn svg { width: 32px; }

.header { padding-top: 70px; padding-bottom: 20px; }

.header .h_nav { margin: 0; padding: 0; list-style: none; }

.header .h_nav li { padding-left: 20px; }

.header .h_nav li a { font-size: 20px; display: block; padding: 5px; position: relative; }

.header .h_nav li a span { position: relative; z-index: 1; }

.article_box { padding-top: 121px; padding-bottom: 150px; }

.article_box .centered { position: relative; }

.article_box .btn_line { padding-top: 13px; }

.article_box .article_box_txt { max-width: 65%; -webkit-box-flex: 0; -ms-flex: 0 0 65%; flex: 0 0 65%; position: relative; z-index: 1; }

@media only screen and (max-width: 1150px) { .article_box .article_box_txt { background: red; } }

.article_box .article_box_img { position: absolute; pointer-events: none; top: 50%; right: -7%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 54%; }

.items_section_one { padding-top: 50px; padding-bottom: 50px; }

@media only screen and (max-width: 768px) { .items_section_one { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.col_txt { max-width: 53%; -webkit-box-flex: 0; -ms-flex: 0 0 53%; flex: 0 0 53%; padding-right: 15px; padding-left: 15px; }

@media only screen and (max-width: 768px) { .col_txt { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; } }

.col_img { max-width: 44%; -webkit-box-flex: 0; -ms-flex: 0 0 44%; flex: 0 0 44%; padding-left: 20px; }

@media only screen and (max-width: 768px) { .col_img { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: 100%; } }

.road_map_section { padding-top: 100px; }

.road_list { padding-left: 60px; padding-right: 60px; }

.road_item { overflow: hidden; }

.road_item_wrapper { max-width: 52%; -webkit-box-flex: 0; -ms-flex: 0 0 52%; flex: 0 0 52%; position: relative; }

.road_item_content { padding: 36px 30px 50px 50px; -webkit-clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%); clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%); }

.road_item_content h3 { font-size: 36px; line-height: 39px; }

.road_item_content p { font-size: 18px; line-height: 30px; margin-bottom: 0; }

.road_item { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 80px; }

.road_item:nth-of-type(even) { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.road_item:nth-of-type(even) .road_item_content { -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%); clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%); }

.road_item:nth-of-type(even) .anim_elements { left: auto; right: 100%; }

.road_item:last-of-type { padding-bottom: 0; }

.road_item:last-of-type .anim_elements { display: none !important; }

.faq_section { padding-top: 100px; padding-bottom: 60px; }

.faq_list { padding-left: 26px; padding-right: 26px; }

.faq_item { padding-bottom: 40px; }

.faq_item_header { font-size: 24px; line-height: 28px; margin-bottom: 0; font-weight: bold; cursor: pointer; min-height: 80px; padding: 10px 40px 10px 50px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.faq_item_header p { margin: 0; padding-right: 15px; }

.switcher { max-width: 26px; -webkit-box-flex: 0; -ms-flex: 0 0 26px; flex: 0 0 26px; height: 26px; border: 2px solid #fff; -webkit-border-radius: 50%; border-radius: 50%; margin-left: auto; position: relative; }

.switcher:before, .switcher:after { content: ""; height: 2px; width: 54%; background: #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; -o-transition: transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.switcher:after { width: 2px; height: 54%; }

.switcher.opened:after { -webkit-transform: translate(-50%, -50%) rotate(-90deg); -ms-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg); }

.faq_item_content { border: 1px solid #fff; border-top: 0; padding: 40px 50px 10px; display: none; }

.faq_item_content p { font-size: 18px; line-height: 30px; font-weight: bold; }

.our_team_section { padding-top: 100px; }

.owl_section { padding-top: 20px; }

.owl_item h3 { font-size: 32px; line-height: 36px; margin-top: 14px; }

.anim_elements { position: absolute; width: 50%; height: 100%; min-height: 166px; top: 50%; left: 100%; }

.horizontal { height: 1px; width: 100%; background: #de0399; position: absolute; top: 0; left: 0; }

.vertical { width: 1px; height: 100%; background: #de0399; top: 0; right: 0; position: absolute; }

.dot { width: 44px; height: 44px; -webkit-border-radius: 50%; border-radius: 50%; position: absolute; top: 0; left: 100%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); padding: 12px; }

.dot em { display: block; height: 100%; width: 100%; -webkit-border-radius: 50%; border-radius: 50%; }

.road_item:nth-of-type(even) .anim_elements { -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); }

.footer { background: #3d5770; padding-top: 40px; padding-bottom: 40px; }

.footer .copy { font-size: 20px; line-height: 24px; font-weight: bold; }

.footer .soc_list { padding: 0; margin: 0; list-style: none; }

.footer .soc_list li { margin-left: 40px; }

.footer .soc_list li svg { width: 16px; display: block; }

.footer .soc_list li svg.inst_ico { width: 23px; }

.footer .soc_list li svg.ico_f { width: 15px; }

.footer .soc_list li svg.ico_discord { width: 32px; }

.footer .soc_list li a { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.footer .soc_list li a:hover { color: #de0399; }

/*# sourceMappingURL=all.css.map */
