.article_box{
	padding-top: 121px;
	padding-bottom: 150px;
	@include media("max", "md") {
		padding-bottom: 0;
		padding-top: 30px;
	}
	.centered{
		position: relative;
	}
	.btn_line{
		padding-top: 13px;
		@include media("max", "md") {
			.btn{
				margin-bottom: 5px;
			}
		}
	}
	.article_box_txt{
		max-width: 65%;
		flex:0 0 65%;
		position: relative;
		z-index: 1;
		@include media("max", "md") {
			max-width: 100%;
			flex:0 0 100%;
			p{
				padding-right: 0;
				margin-bottom: 0;
			}
		}
	}
	.article_box_img{
		position: absolute;
		pointer-events: none;
		top: 50%;
		right: -7%;
		transform:translateY(-50%);
		// background: green;
		width: 54%;
		@include media("max", "md") {
			position: static;
			transform:none;
			margin-left: auto;
			margin-right: auto;
			width: 70%;
		}
		@include media("max", "sm") {
			width: 90%;
		}
	}
}