body{
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	background: #000;
	font-size: 20px;
	line-height: 1.6;
	overflow-x: hidden;
	background: url(../images/bg.jpg) repeat-y 50% 0;
	background-size: cover;
	@include media("max", "md") {
		background-size: auto;
	}

}
html{
	scrollbar-color: $danger #000;
	scrollbar-width: thin;
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
	background-color: #000;
	}

	&::-webkit-scrollbar-thumb {
		background: $danger;
	}
	scroll-behavior: smooth;
}
a{
	color: #fff;
	&:hover{
		color: #fff;
	}
}
.centered{
	max-width: 1150px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.bg-danger{
	background: $danger;
}
.bg-secondary{
	background: $secondary;
}
.compensate-for-scrollbar{
	// margin-right: 10px !important;
}